.catalog {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  justify-content: center;
  column-gap: 48px;
  row-gap: 50px;
  padding-top: 50px;

  @media (max-width: 930px) {
    grid-template-columns: repeat(3, 200px);
  }

  @media (max-width: 730px) {
    grid-template-columns: repeat(2, 200px);
  }
}
